:root {
    --LIGHT-YELLOW: #FFFFC7;
    --DARK-YELLOW: #F9BA0F;
    --INTENSE-PINK: #D83D68;
    --GREY1: #8E8E93;
    --GREY2: #4C5760;
    --GREY3: #3C454C;
    --BLACK: #1D1D1D;
    --DIET: #DDAEC8;
    --SPORT: #DD8769;
    --TELEMEDIC: #2CA58D;
    --TELEMEDIC-ANALYSIS-FIRST: #008FFB;
    --TELEMEDIC-ANALYSIS-SECOND: #00E396;
    --TELEMEDIC-ANALYSIS-THIRD: #FEB019;
    --TELEMEDIC-ANALYSIS-FOURTH: #FF4560;
}